    <% training.sections.each do |section| %>
    <% bk = training.sections.length > 1 ? 6 : 12 %>
    <div class="col-12 col-md-<%=bk%> d-flex flex-column mb-3 px-3">
      <div class="section_title">
        <h3><%= section.title %></h3>
      </div>
      <div class="section_description">
        <p><%= section.description.chop %> en <%= pluralize(section.lessons.count, 'leçon')%> !</p>
      </div>
      <ul class="list-group">
      <% section.lessons.each do |lesson| %>
        <li class="list-item mx-3 mb-2">
          <%= lesson.title %>
        </li>
      <% end %>
      </ul>  
    </div>
  <% end %>