<%# hero_header %>
<section class="row pt-4 pb-2">
  <div class="col-12 col-md-10 col-lg-9 mx-auto">
    <div class="text-center mb-5">
      <h1 class="mb-4 mx-auto display-1 fw-bold">
        <span class="d-block">EcoDevIT</span>
        <span class="highlight_word">Catalogue de formations</span>
      </h1>
      <p class="mx-auto lead text-lg-nice">
        <span class="d-block"> Retrouvez ici l'intégralité des formations publiées par nos experts </span>
        <span class="d-block"> Apprenez sans compter !</span>
      </p>
    </div>
    <%unless user_signed_in? %>
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center w-100">
      <%= link_to 'Inscription', new_user_registration_path, class: "btn btn-lg btn-success text-white flex-center mx-auto mx-lg-2 mb-2 w-100", style:"max-width:280px"%>
      <%= link_to 'Connexion', new_user_session_path, class: "btn btn-lg btn-outline-success flex-center mx-auto mx-lg-2 mb-2 w-100", style:"max-width:280px"%>
    </div>
    <%end%>
  </div>
</section>

<%# Search %>
<hr>
<section class="row py-3">
  <div class="col-12 col-md-6">
    <p class="m-0 fs-2 fw-lighter">Recherche par mots clés</p>
      <%= form_tag(trainings_path, method: 'get', class:'d-flex mb-3') do %>
        <%= text_field_tag :search, "", class:"form-control me-2" %>
        <%= submit_tag 'Chercher', class:"btn btn-outline-success" %>
      <% end %> 
  </div>
</section>
<hr>

<%# Présentation %>
<section class="my-5">
  <% @trainings.each do |training| %>
    <div class="row justify-content-center align-items-center mt-lg-5 mb-5 py-lg-5">
      <% img_order = training.id.even? ? 2 : 1 %>
      <div class="col-12 col-md-7 d-flex flex-column mb-3 px-3 order-md-<%=img_order%>">
        <%= cl_image_tag(training.thumbnail.key, class: "img-fluid img_presentation mx-auto rounded-3 shadow", loading:"lazy", alt:"Thumbnail #{training.title}") rescue nil %>
      </div>
      <% txt_order = training.id.even? ? 1 : 2 %>
      <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-<%= txt_order %>">
        <h2 class="mb-4 display-5"><%= training.title %></h2>
        <div>
            <p><%= sanitize(training.description, tags: %w(div p ul ol li em strong br)).html_safe %></p>
            <p>Cette formation de <%= pluralize(training.sections.count, 'section') %> 
              vous est offerte par <%= training.user.first_name.capitalize %> <%= training.user.last_name.upcase %>.
            </p>
        </div>
        <%= link_to "Plus de détails", catalogue_path(training), class:'section_link' %>
      </div>
    </div>
  <%end%>
</section>