<h1>Training edition</h1>

  <% if @training.errors.any? %>
    <div class="alert alert-danger">
      <% @training.errors.each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>

  <%= form_for @training do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :descriptiiiion %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Annuler", :back %>