<h1>Training detail</h1>

<h2><%= @training.title %></h2>

<p><%= @training.description %></p>
<p>Cette formation compte <%= pluralize(@training.sections.count, 'section')%> </p>

<% @training.sections.each do |section| %>
  <ul>
    <h3>
      <%= section.title %>
    </h3>
    <p>
      <%= section.description.chop %> en <%= pluralize(section.lessons.count, 'leçon')%> !
    </p>
    <% section.lessons.each do |lesson| %>
      <li>
        <%= lesson.title %>
      </li>
    <% end %>
  </ul>
<% end %>

  <%= link_to_unless(user_signed_in? && current_user.trainings.include?(@training), 'Rejoindre la formation', user_trainings_path(training_id: @training.id), method: :post ) do %>
    <%= link_to 'Reprendre', training_section_lesson_path(@training, @training.sections.first, @training.sections.first.lessons.first), class: 'btn btn-primary' %>
  <% end %>
  
  <p><%= link_to "Retour à la liste", catalogue_index_path %></p>
  
  <%if current_user == @training.user%>
    <%= link_to "Modifier", edit_training_path(@training) %>
    <%= link_to "Supprimer", training_path(@training), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer cette formation ?" } %>
  <%end%>