<h1>Dashboard#student</h1>
<p>Find me in app/views/dashboard/student.html.erb</p>

<% @my_trainings.each do |training| %>
  <ul>
    <li><%= training.title %></li>
    <li><%= training.description %></li>
  </ul>
  <% training.sections.each do |section| %>
    <ul>
      <li><%= section.id %></li>
      <li><%= section.title %></li>
      <li><%= section.description %></li>
    </ul>
    <% section.lessons.each do |lesson| %>
      <ul>
        <li><%= lesson.id %></li>
        <li><%= lesson.title %></li>
        <%= link_to "Lire", training_section_lesson_path(training, section, lesson) %>
      </ul>
    <% end %>
  <%end%>
<%end%>

